.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  min-width: 120px;
  padding: 32px;
  border-radius: 6px;
  cursor: pointer;
}

.containerActive {
  background-color: rgba(255, 255, 255, 0.4);
}

.containerInactive:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.containerInactive:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.temperature {
  font-size: 3vw;
  color: white;
  font-weight: bold;
}

.imageWrapper {
  margin: 10px 0;
  width: 90%;
}
